source/extensions/org.wcs.smart.cybertracker/src/org/wcs/smart/cybertracker/model/data/Data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Elements">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="E" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="I" use="optional"/>
                      <xs:attribute type="xs:string" name="N" use="optional"/>
                      <xs:attribute type="xs:int" name="Static" use="optional"/>
                      <xs:attribute type="xs:string" name="Tag_0" use="optional"/>
                      <xs:attribute type="xs:string" name="Tag_1" use="optional"/>
                      <xs:attribute type="xs:string" name="Tag_2" use="optional"/>
                      <xs:attribute type="xs:string" name="Tag_3" use="optional"/>
                      <xs:attribute type="xs:string" name="Tag_4" use="optional"/>
                      <xs:attribute type="xs:string" name="Tag_5" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="Sightings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="S" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="A" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="I" use="optional"/>
                            <xs:attribute type="xs:string" name="N" use="optional"/>
                            <xs:attribute type="xs:string" name="V" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

		<xs:element name="TimerTracks">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="T" maxOccurs="unbounded" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="A" maxOccurs="unbounded" minOccurs="0">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:string">
												<xs:attribute type="xs:string" name="I" use="optional" />
												<xs:attribute type="xs:string" name="N" use="optional" />
												<xs:attribute type="xs:string" name="V" use="optional" />
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>