source/extensions/org.wcs.smart.cybertracker/src/org/wcs/smart/cybertracker/model/elements/Elements.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Elements">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="List">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Id"/>
                          <xs:element type="xs:string" name="Name"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
       </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>