utils/org.wcs.smart.ct2smart/src/org/wcs/smart/ct2smart/matcher/model/Ct2Smart.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="Ct2AttributeValue">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="i" use="optional" />
				<xs:attribute type="xs:string" name="n" use="optional" />
				<xs:attribute type="xs:string" name="mapTo" use="optional" />
				<xs:attribute type="xs:boolean" name="ignore" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="Ct2AttributeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="IGNORE" />
			<xs:enumeration value="TEXT" />
			<xs:enumeration value="NUMERIC" />
			<xs:enumeration value="BOOL" />
			<xs:enumeration value="REF" />
			<xs:enumeration value="CATEGORY" />
			<xs:enumeration value="META_DATE" />
			<xs:enumeration value="META_TIME" />
			<xs:enumeration value="META_LAT" />
			<xs:enumeration value="META_LON" />
			<xs:enumeration value="META_MEMBERS" />
			<xs:enumeration value="META_MANDATE" />
			<xs:enumeration value="META_COMMENT" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ExtraAttribute">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="attributeKey" use="optional" />
				<xs:attribute type="xs:string" name="valueKey" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="Ct2Attribute">
		<xs:sequence>
			<xs:element name="Ct2AttributeValue" type="Ct2AttributeValue" maxOccurs="unbounded" minOccurs="0" />
			<xs:element name="ExtraAttribute" type="ExtraAttribute" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="Ct2AttributeType" name="type" use="optional" />
		<xs:attribute type="xs:string" name="i" use="optional" />
		<xs:attribute type="xs:string" name="n" use="optional" />
		<xs:attribute type="xs:string" name="mapTo" use="optional" />
		<xs:attribute type="xs:string" name="categoryKey" use="optional" />
	</xs:complexType>

	<xs:complexType name="CtCategoryMap">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="ai" use="optional" />
				<xs:attribute type="xs:string" name="an" use="optional" />
				<xs:attribute type="xs:string" name="vi" use="optional" />
				<xs:attribute type="xs:string" name="vn" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="CtCategory">
		<xs:sequence>
			<xs:element name="CtCategoryMap" type="CtCategoryMap" maxOccurs="unbounded" minOccurs="0" />
			<xs:element name="ExtraAttribute" type="ExtraAttribute" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="xs:string" name="categoryKey" use="optional" />
	</xs:complexType>

  <xs:element name="Ct2Smart">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ct2Attribute" type="Ct2Attribute" maxOccurs="unbounded" minOccurs="0" />
        <xs:element name="CtCategory" type="CtCategory" maxOccurs="unbounded" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

