utils/org.wcs.smart.ct2smart/src/org/wcs/smart/ct2smart/matcher/model/Ct2Smart.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="Ct2AttributeValue">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="i" use="optional" />
				<xs:attribute type="xs:string" name="n" use="optional" />
				<xs:attribute type="xs:string" name="mapTo" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="Ct2AttributeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="UNKNOWN" />
			<xs:enumeration value="TEXT" />
			<xs:enumeration value="NUMERIC" />
			<xs:enumeration value="BOOL" />
			<xs:enumeration value="REF" />
			<xs:enumeration value="CATEGORY" />
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Ct2Attribute">
		<xs:sequence>
			<xs:element name="Ct2AttributeValue" type="Ct2AttributeValue" maxOccurs="unbounded" minOccurs="0" />
		</xs:sequence>
		<xs:attribute type="Ct2AttributeType" name="type" use="optional" />
		<xs:attribute type="xs:string" name="i" use="optional" />
		<xs:attribute type="xs:string" name="n" use="optional" />
		<xs:attribute type="xs:string" name="mapTo" use="optional" />
	</xs:complexType>

  <xs:element name="Ct2Smart">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Ct2Attribute" type="Ct2Attribute" maxOccurs="unbounded" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

