source/extensions/org.wcs.smart.cybertracker/src/org/wcs/smart/cybertracker/model/filter/Filter.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="Categories">
		<xs:sequence>
			<xs:element name="Items">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element type="xs:string" name="Id" />
									<xs:element type="xs:string" name="Name" />
									<xs:element type="xs:string" name="CategoryId" />
									<xs:element type="xs:int" name="FilterType" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ElementFilters">
		<xs:sequence>
			<xs:element name="Items">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element type="xs:string" name="Id" />
									<xs:element type="xs:string" name="Name" />
									<xs:element name="CheckedElements">
										<xs:complexType>
											<xs:sequence>
												<xs:element type="xs:string" name="Value" maxOccurs="unbounded" minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="Filter">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:int" name="Version" minOccurs="0" />
				<xs:element name="Categories" type="Categories" />
				<xs:element name="ElementFilters" type="ElementFilters" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>