extensions/org.wcs.smart.cybertracker/src/org/wcs/smart/cybertracker/model/reports/Reports.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:complexType name="Items">
		<xs:sequence>
			<xs:element name="Item" maxOccurs="unbounded" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<!-- From List -->
						<!-- <xs:element name="OpenViews"> -->
						<xs:element name="Queries">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Items" type="Items"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<!-- From Queries -->
						<xs:element type="xs:string" name="Id" />
						<xs:element type="xs:string" name="Name" />
						<xs:element type="xs:string" name="Checked" />
						<xs:element type="xs:int" name="DateMode" minOccurs="0" />
						<xs:element type="xs:string" name="DateFrom" />
						<xs:element type="xs:string" name="DateTo" />
						<xs:element type="xs:string" name="Filters" />
						<!-- From Table.Columns -->
						<xs:element type="xs:string" name="SourceGuid" />
						<xs:element type="xs:int" name="OutputMode" minOccurs="0" />
				
						<xs:element name="Table" type="Table"/>
						<xs:element name="Cursor">
							<xs:complexType>
								<xs:sequence>
									<xs:element type="xs:int" name="Index" minOccurs="0" />
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

<!--
	<xs:complexType>
		<xs:sequence>
			<xs:element name="Items">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Item">
							<xs:complexType>
								<xs:sequence>
									<xs:element type="xs:string" name="Id" />
									<xs:element type="xs:string" name="Checked" />
									<xs:element name="Bounds">
										<xs:complexType>
											<xs:sequence>
												<xs:element type="xs:int" name="Right" minOccurs="0" />
												<xs:element type="xs:int" name="Bottom"
													minOccurs="0" />
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="View">
										<xs:complexType>
											<xs:sequence>
												<xs:element type="xs:string" name="ViewName" />
												<xs:element name="ViewData">
													<xs:complexType>
														<xs:sequence>
															<xs:element type="xs:string" name="Name" />
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
-->

	<xs:complexType name="Table">
		<xs:sequence>
			<xs:element type="xs:string" name="Name" />
			<xs:element name="Columns">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Items" type="Items"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element type="xs:string" name="Grouping" />
			<xs:element name="Projection">
				<xs:complexType>
					<xs:sequence>
						<xs:element type="xs:string" name="ProjectionCode" />
						<xs:element type="xs:string" name="DatumCode" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>


	<xs:element name="Reports">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="ActiveId" />
				<xs:element name="List">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Items" type="Items" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>