source/java/org.wcs.smart.dataentry/shared/org/wcs/smart/dataentry/model/xml/generated/ConfigurableModelSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.smartconservationsoftware.org/xml/1.1/dataentry" 
xmlns:smrt="http://www.smartconservationsoftware.org/xml/1.1/dataentry"
elementFormDefault="qualified">
  	
    <element name="ConfigurableModel" type="smrt:ConfigurableModel"></element>
    
    <complexType name="ConfigurableModel">
    	<sequence>
    		<element name="languages" type="smrt:LanguageListType"
    			maxOccurs="1" minOccurs="1">
    		</element>
    		<element name="signatures" type="smrt:SignatureTypeList"
    			maxOccurs="1" minOccurs="0">
    		</element>
    		<element name="name" type="smrt:NameType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    		<element name="nodes" type="smrt:NodeTypeList" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="listItems"
    			type="smrt:AttributeListItemTypeList" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="treeNodes"
    			type="smrt:AttributeTreeNodeTypeList" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="defaultTrees"
    			type="smrt:AttributeCmTreeNodeTypeList" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="defaultLists"
    			type="smrt:AttributeCmListItemTypeList" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="setting"
    			type="smrt:CmDmAttributeSettingsTypeList" maxOccurs="1"
    			minOccurs="0">
    		</element>
    		<element name="attributeConfig"
    			type="smrt:CmAttributeConfigType" maxOccurs="unbounded"
    			minOccurs="0" />
    		<element name="extraData" type="smrt:CmExtraDataType"
    			maxOccurs="unbounded" minOccurs="0" />
    	</sequence>
    	<attribute name="displayMode" type="string"></attribute>
    	<attribute name="instantGps" type="boolean" />
    	<attribute name="photoFirst" type="boolean" />
    	<attribute name="useEarthRanger" type="boolean" />
    	<attribute name="iconSet" type="string"></attribute>
    </complexType>

    <complexType name="LanguageListType">
    	<sequence>
    		<element name="language" type="smrt:LanguageType" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>

    <complexType name="LanguageType">
    	<attribute name="code" type="string"></attribute>
    	<attribute name="is_default" type="boolean"></attribute>
    </complexType>

    <complexType name="NodeTypeList">
    	<sequence>
    		<element name="node" type="smrt:NodeType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="NodeType">
    	<sequence>
    		<element name="name" type="smrt:NameType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    		<element name="node" type="smrt:NodeType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<element name="attribute" type="smrt:AttributeType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<element name="signature" type="smrt:SignatureType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="categoryKey" type="string"></attribute>
    	<attribute name="categoryHkey" type="string"></attribute>
    	<attribute name="dmUuid" type="string"></attribute>
    	<attribute name="photoAllowed" type="boolean"></attribute>
    	<attribute name="photoRequired" type="boolean"></attribute>
    	<attribute name="displayMode" type="string"></attribute>

    	<attribute name="id" type="string"></attribute>

    	<attribute name="collectMultipleObs" type="boolean"></attribute>
    	<attribute name="useSingleGpsPoint" type="boolean"></attribute>
    	<attribute name="imageFile" type="string"></attribute>
    	<attribute name="isCustomImage" type="boolean"></attribute>

    	<attribute name="erIncidentType" type="string"></attribute>
    </complexType>

    <complexType name="NameType">
    	<attribute name="language_code" type="string"></attribute>
    	<attribute name="value" type="string"></attribute>
    	<attribute name="source">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="DM"></enumeration>
    				<enumeration value="CM"></enumeration>
    			</restriction>
    		</simpleType>
    	</attribute>
    </complexType>

    <complexType name="AttributeType">
    	<sequence>
    		<element name="name" type="smrt:NameType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    		<element name="option" type="smrt:AttributeOptionType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    		<element name="treeNode" type="smrt:TreeNodeType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<element name="listItem" type="smrt:ListItemType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="attributeKey" type="string"></attribute>
    	<attribute name="dmUuid" type="string"></attribute>
    	<attribute name="id" type="string"></attribute>
    	<attribute name="configId" type="string"></attribute>
    	<attribute name="type">
    		<simpleType>
    			<restriction base="string">
    				<enumeration value="TEXT"></enumeration>
    				<enumeration value="BOOLEAN"></enumeration>
    				<enumeration value="TREE"></enumeration>
    				<enumeration value="LIST"></enumeration>
    				<enumeration value="DATE"></enumeration>
    				<enumeration value="NUMERIC"></enumeration>
    			</restriction>
    		</simpleType>
    	</attribute>

    	<attribute name="required" type="boolean">
    		<annotation>
    			<documentation>
    				This value represents the data model attribute
    				required flag. Required cannot be specified for
    				individual data model nodes.
    			</documentation>
    		</annotation>
    	</attribute>
    	<attribute name="imageFile" type="string"></attribute>
    	<attribute name="isCustomImage" type="boolean"></attribute>
    	<attribute name="minValue" type="double"></attribute>
    	<attribute name="maxValue" type="double"></attribute>
    	<attribute name="regex" type="string"></attribute>
    </complexType>

    <complexType name="AttributeOptionType">
    	<attribute name="id" type="string"></attribute>
    	<attribute name="stringValue" type="string"></attribute>
    	<attribute name="doubleValue" type="double"></attribute>
    	<attribute name="keyRef" type="string"></attribute>
    	<attribute name="hkeyRef" type="string"></attribute>
    	<attribute name="dmUuid" type="string"></attribute>
    </complexType>

    <complexType name="AttributeListItemTypeList">
    	<sequence>
    		<element name="item" type="smrt:AttributeItemType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="AttributeTreeNodeTypeList">
    	<sequence>
    		<element name="node" type="smrt:AttributeItemType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="AttributeItemType">
     	<sequence>
    		<element name="name" type="smrt:NameType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    	</sequence>
    	<attribute name="isActive" type="boolean"></attribute>
    	<attribute name="attributeKey" type="string"></attribute>
    	<attribute name="refKey" type="string"></attribute>
    </complexType>

    <complexType name="AttributeCmTreeNodeTypeList">
    	<sequence>
    		<element name="treeNode" type="smrt:TreeNodeType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="TreeNodeType">
    	<sequence>
    		<element name="name" type="smrt:NameType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<element name="children" type="smrt:TreeNodeType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="attributeKey" type="string"></attribute>
    	<attribute name="keyRef" type="string"></attribute>
    	<attribute name="hkeyRef" type="string"></attribute>
    	<attribute name="dmUuid" type="string"></attribute>
    	<attribute name="isActive" type="boolean"></attribute>
    	<attribute name="displayMode" type="string"></attribute>
    	<attribute name="id" type="string"></attribute>

        <attribute name="imageFile" type="string"></attribute>
        <attribute name="isCustomImage" type="boolean"></attribute>
    </complexType>

    <complexType name="AttributeCmListItemTypeList">
    	<sequence>
    		<element name="listItem" type="smrt:ListItemType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="ListItemType">
    	<sequence>
    		<element name="name" type="smrt:NameType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="attributeKey" type="string"></attribute>
    	<attribute name="keyRef" type="string"></attribute>
    	<attribute name="dmUuid" type="string"></attribute>
    	<attribute name="isActive" type="boolean"></attribute>
    	<attribute name="id" type="string"></attribute>

        <attribute name="imageFile" type="string"></attribute>
        <attribute name="isCustomImage" type="boolean"></attribute>
    </complexType>

    <complexType name="CmDmAttributeSettingsTypeList">
    	<sequence>
    		<element name="setting" type="smrt:CmDmAttributeSettingsType" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>

    <complexType name="CmDmAttributeSettingsType">
    	<attribute name="attributeKey" type="string"></attribute>
    	<attribute name="displayMode" type="string"></attribute>
    </complexType>

    <complexType name="CmAttributeConfigType">
    	<sequence>
    		<element name="name" type="smrt:NameType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    		<element name="treeNode" type="smrt:TreeNodeType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    		<element name="listItem" type="smrt:ListItemType"
    			maxOccurs="unbounded" minOccurs="0">
    		</element>
    	</sequence>
    	<attribute name="id" type="string"></attribute>
    	<attribute name="attributeKey" type="string"></attribute>
    	<attribute name="displayMode" type="string"></attribute>
    	<attribute name="isDefault" type="boolean" />
    	<attribute name="attributeUuid" type="string"></attribute>
    </complexType>

    <complexType name="CmExtraDataType">
    	<sequence>
            <element name="stringKey" type="smrt:CmExtraDataStringKeyType" maxOccurs="unbounded" minOccurs="0"/>
            <element name="integerKey" type="smrt:CmExtraDataIntegerKeyType" maxOccurs="unbounded" minOccurs="0"/>
            <element name="labelKey" type="smrt:CmExtraDataLabelKeyType" maxOccurs="unbounded" minOccurs="0"/>
    	</sequence>
    	<attribute name="type" type="string"/>
    </complexType>

    <complexType name="CmExtraDataStringKeyType">
    	<attribute name="key" type="string"/>
    	<attribute name="value" type="string"/>
    </complexType>

    <complexType name="CmExtraDataIntegerKeyType">
    	<attribute name="key" type="string"/>
    	<attribute name="value" type="int"/>
    </complexType>

    <complexType name="CmExtraDataLabelKeyType">
    	<sequence>
            <element name="label" type="smrt:NameType" maxOccurs="unbounded" minOccurs="1"/>
    	</sequence>
    	<attribute name="key" type="string"/>
    </complexType>


    <complexType name="SignatureType">
    	<sequence>
    		<element name="name" type="smrt:NameType"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    	</sequence>
    	<attribute name="uuid" type="string"></attribute>
    	<attribute name="keyid" type="string"></attribute>
    </complexType>
    
    <complexType name="SignatureTypeList">
    	<sequence>
    		<element name="signatureType" type="smrt:SignatureType" maxOccurs="unbounded" minOccurs="1"></element>
    	</sequence>
    </complexType>
</schema>